<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
      {{'Contactez Nous'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/search" routerDirection="forward">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="secondary">{{shared.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <ion-card class="ion-no-padding">
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="pin"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p wrap-text>
            🥳Vous imaginez vos modèles et nous réalisons.<br>
            POINT CAMEROUN-YAOUNDE: Carrefour intendance - avenue Kennedy, montée Camer-co, immeuble Double-T Créative.<br>     
            POINT CAMEROUN-DOUALA: Akwa, carrefour équipement (Prêt à porter BELLE ET RONDE), 3eme étage en suivant les plaques Dollars Bijoux.<br>
            POINT CONGO-KINSHASA: Maïsha Park av.Kauka Q/Royal C/Ngombe N°5573* Réf: *en diagonale de l'immeuble intelligent.<br>
            POINT GABON-LIBREVILLE: OLOUMI, gymnase(entrée en face du carrefour la fopi). Locaux flash nettoyage.<br>
            Bientôt Dollars Bijoux Côte d'ivoire .....<br>
            Merci pour votre confiance.
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p>
            {{config.email}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="call"></ion-icon>
        </ion-avatar>

        <ion-label>
          <p>
            Tel Yaoundé (Appels & WhatsApp ): 694577671 - 675429470<br>
            Tel Douala (Appels & WhatsApp ): 698637347 - 672901121<br>
            Tél Libreville (Appels & WhatsApp ) : +241 07 96 65 04<br>
            
            Tel Kinshasa : +243 854 639 059 Voda-com : +243 828 080 587<br>
            Et bientôt Dollars Bijoux Côte d'ivoire<br>
            Merci de toujours nous faire confiance...
          </p>
        </ion-label>
      </ion-item>

      <form #contactForm="ngForm" (ngSubmit)="submit()">
        <ion-item>
          <ion-input type="text" placeholder="{{'Nom'|translate}}" name="name" [(ngModel)]="contact.name" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="{{'Email'|translate}}" name="email" [(ngModel)]="contact.email" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="{{'Votre Messsage'|translate}}" name="message"
            [(ngModel)]="contact.message" required></ion-input>
        </ion-item>
        <ion-col col-12>
          <label *ngIf="errorMessage!=''">
            <span>{{errorMessage}}</span>
          </label>
        </ion-col>
        <ion-item lines="none">
          <ion-button expand="full" type="submit" [disabled]="!contactForm.form.valid">{{'Envoyer'|translate}}</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>