<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" style="font-size: 18px;">Créer un compte chez Dollars Bijoux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-avatar>
    <ion-img src="assets/avatar.png"></ion-img>
  </ion-avatar>

  <form #loginForm="ngForm" class="form" (ngSubmit)="createAccount()">

    <ion-item>
      <ion-label position="floating"> Prénom</ion-label>
      <ion-input type="text" name="customers_firstname" [(ngModel)]="formData.first_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name="customers_lastname" [(ngModel)]="formData.last_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Identifiant</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="formData.username" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" email name="email" [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" name="c_d" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="errorMessage!=''" lines="none">
      <ion-label>
        {{errorMessage| translate}}
      </ion-label>
    </ion-item>

    <p>La création d'un compte signifie que vous êtes d'accord avec nos
      <a (click)="openTermServicesPage()">Termes et Services</a>,
      <a (click)="openPrivacyPolicyPage()">
        Politique de confidentialité</a> et
      <a (click)="openRefundPolicyPage()">Politique de remboursement</a>
    </p>

    <ion-button disabled="true" expand="full" color="secondary" type="submit" [disabled]="!loginForm.form.valid">
      S'inscrire
    </ion-button>
  </form>
</ion-content>